# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/vcs.xml
/Project_Default.xml
/diagnoslab.in.iml
/misc.xml
/modules.xml
/prettier.xml
/material_theme_project_nex.xml

